doctype html
html
  head
    title SlipBop Overflow
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" type="image/png" href="/images/logo.png")
    link(rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous")
    link(rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/base-min.css")
    link(rel="stylesheet" type="text/css" href="/css/style.css")
    script(src="/js/index.js")
    script(src="https://kit.fontawesome.com/087b3c0ec0.js" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js")
  body
    nav.navbar
      div(id="links-left") 
        a#hamburger-anchor: i(id="hamburger" class="fa fa-bars icon")
        a(class="logo" href="/"): img(src="../images/logo.png")
        a(class="desktop-links" href="/") Home
        a(class="desktop-links" href="/questions") Questions
        a(class="desktop-links" href="/users") Users
        a#search-icon-anchor: i(id="search-icon" class="fa fa-search icon") 
      div(id="desktop-searchBar")
        form(action="/search")
          input(type="text" placeholder="Search..." name="search")
          button(type="submit")
            i(class="fa fa-search")
      div(id="links-right")
        if user
          a(class="pure-button button-right slipbop-button" href=`/users/${user.id}`)= user.username
          a(class="pure-button button-right slipbop-button" href="/users/logout") Logout
        else
          a(class="pure-button button-right slipbop-button" href="/users/login") Login
          a(class="pure-button button-right slipbop-button" href="/users/signup") Sign Up
    div(id="links")
      a(href="/") Home
      a(href="/questions") Questions
      a(href="/users") Users    
    div(id="mobile-searchBar")
      form(action="/search")
        input(id="mobile-search" type="text" placeholder="Search..." name="search")

    block content

    footer.footer
      div
        span.footer-text SlipBop Overflow
        .footer-icons
          a(href="https://github.com/jessabels")
            i(class="fa fa-github" )
          a(href="https://github.com/seanwu84")
            i(class="fa fa-github" )
          a(href="https://github.com/the-harry-higgins")
            i(class="fa fa-github") Harrison Higgins
          a(href="https://github.com/bacbartlett")
            i(class="fa fa-github")