extend layout

block content
    .errors-container
    .formBoxContainer
        .raisedSlipbopFormContainer
            .formHeaderContainer
                h2.smallerMargin Login to Slipbop
            form.pure-form#login-form
                .formgroup
                    label(for="email") Email
                    input(type="email", id="email", name="email")
                .formgroup
                    label(for="password") Password
                    input(type="password", id="password", name="password")
                .formButtonContainer
                    button.slipbop-button.formSubmit Login
                .formButtonContainer
                    button.slipbop-button.formSubmit#demoLogin Demo Login
    script(type="module" src="/js/login.js")