extend layout

block content
    .title
        h1.titleText=title
    .searchResults#searchResults
        //- .search-result
        //-     .voteBlock
        //-         .votes
        //-             p.voteNumber 6640
        //-             h6 Votes
        //-         .answers
        //-             p.answerNumber 15
        //-             h6 Answers
        //-     .textBlock
        //-         h3.questionTitle How to make an ajax asdfasdfasdfasdfasdfasdfasdfcall with a token?
        //-         p.content "I need to make an ajax call with a token, but I am not sure how to do it. Can it be attached..."
        //-         .info
        //-             p.author bdawg425
        //-             p.date Sept, 4th, 2020
    script(type="module" src="/js/search.js")