extends layout.pug

block content
    #errorDiv
    .formBoxContainer 
      .raisedSlipbopFormContainer
        .formHeaderContainer
          h2.smallMargin Sign Up
        form.pure-form#login-form
          .formgroup
            label(for='username') Username
            input(type='text' name='username' placeholder="Username")
          .formgroup
            label(for='email') Email address
            input(type='email', name="email", placeholder='Enter email')
          .formgroup
            label(for='password') Password
            input(type='password', name="password", placeholder='Password')
          .formButtonContainer  
            button.slipbop-button.formSubmit(type='submit') Sign Up 
          .formButtonContainer
            .haveAccount
              a(href='/users/login') Already have an account? Log in here.
    script(type="module" src="/js/sign-up.js")