extend layout

block content
    .profileContainer
        .logoAndStats
            .logo
                .userLogoProfile(style=`background-color:#${profileUser.color};`)
                    a(class="userLetterProfile")= profileUser.capitalLetter
            .stats
        .tabs
            p Questions
            p Answers
            p Comments
        .search-results