.container {
    font-size: 50px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    background-color: whitesmoke;
}

.form-div{
    grid-row-start: 2;
    grid-column-start: 2;
    background-color: white;
    box-shadow: 5px 10px #8a8987;
}


.inner-form-div{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.group{
    grid-row: span 1;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.slipbop-input, .slipbop-button, .slipbop-label{
    margin: 3px 10px 0px 10px !important;
}

.slipbop-input{
    height: 100px !important;
}