.smallerMargin{
    margin-top: 10px;
    margin-bottom: 7px;
}
.formBoxContainer{
    display: flex;
    justify-content: center;
}
.raisedSlipbopFormContainer{
    margin-top: 75px;
    padding: 10px 30px;
    width: 100%;
    max-width: 350px;
    margin: 30px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #dddd;
}

.formSubmit{
    margin-top: 7px;
    height: 35px;
    width: 150px;
}

.formButtonContainer{
    display: flex;
    justify-content: center;
}

.formHeaderContainer{
    display: flex;
    justify-content: center;
}

.formgroup{
    display: flex;
    flex-direction: column;
}

.haveAccount{
    margin: 10px 10px 10px 10px
}