.navbar {
  padding: 10px 20px;
  /* position: relative; */
  border-bottom: 1px solid #dddd;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  padding: 3px 11px;
}

#links {
  display: none;
  background: #141c1f;
}

#mobile-searchBar {
  display: none;
}

#mobile-searchBar input {
  width: 100%;
}

.button-right {
  margin-right: 5px;
}

#links-left {
  display: inline-flex;
  align-items: center;
}

#links-right {
  display: inline-flex;
  align-items: flex-end;
}

.icon {
  color: black;
}

#desktop-searchBar {
  display: none;
}

#links a {
  display: block;
  padding: 12px 14px;
  text-decoration: none;
  color: white;
  font-size: 13px;
}

.desktop-links {
  display: none;
}

@media (min-width: 500px) {
  #search-icon-anchor {
    display: none;
  }

  #desktop-searchBar {
    display: inline-flex;
  }
}

@media (min-width: 768px) {
  #hamburger-anchor {
    display: none;
  }

  .desktop-links {
    display: block;
    text-decoration: none;
    color: var(--dark-color);
  }

  #links {
    display: none;
  }

  #desktop-searchBar input {
    width: 15em;
  }
}


@media (min-width: 1024px) {
  #desktop-searchBar input {
    width: 28em;
  }
}

@media (min-width: 1440px) {
  #desktop-searchBar input {
    width: 50em;
  }
}


.user-logo{
  position: relative;
  top: 3px;
  color: white;
  border-radius: 4px;
  border: 1px solid #dddd;
  height: 27px;
  width: 27px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
}

.makeMeWhite{
  font-size: 26px;
  color:white;
  text-decoration: none;
  font-weight: 700;
  font-style: italic;
  font-family: 'Josefin Sans', sans-serif;
}

