.searchResults{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-result{
    border: 1px solid #dddd;
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.voteBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textBlock{
    display: grid;
    /* width: 100%; */
    row-gap: 1em;
    grid-template-areas: 
    "title title title"
    "mainContent mainContent mainContent"
    "info info info";
    align-items: start;
    margin: 1em;
}

.textBlock .info {
    font-size: .8em;
}

.textBlock .info .author {
    font-weight: bold;
}

.no-results {
  align-self: center;
  padding: 1em;
}

.questionTitle{
    line-height: 1.2em;
    max-height: 4.8em;
    overflow: hidden;
    grid-area: title;
    font-size: 1.2em;
}

.content{
    line-height: 1.2em;
    max-height: 7.2em;
    overflow: hidden;
    grid-area: mainContent;
}

.info{
    grid-area: info;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.colorMeBlack{
    color: var(--primary-color);
    text-decoration: none;
} 

.votes, .answers{
    border: 1px solid #dddd;
    margin: 1em 0em 0em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 60px;
    color: white;
}

.votes{
    background-color: var(--primary-color);
}

.answers{
    background-color: var(--secondary-color);
}

.votes > div,
.answers > div {
    font-size: .7em;
}

.date {
  margin-top: .2em;
}