@import "navbar.css";
@import "footer.css";
@import "login.css";
@import "search.css";
@import "users.css";
@import "question.css";
@import "errors.css";
@import "vote.css";
@import "homepage.css";
@import "userProfile.css";

:root {
  --dark-color: #141c1f;
  --primary-color: #6494a7;
  --secondary-color: #9bc9d1;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin-right: auto;
  margin-left: auto;
  background-color: whitesmoke;
  /* overflow-x: hidden; */
}

main {
  min-height: 85vh;
  margin-right: 10px;
  margin-left: 10px;
  max-width: 100%;
}

.slipbop-button{
  border-radius: 4px;
  background: var(--primary-color);
  color: white;
  font-size: 14px;
}

@media (min-width: 1024px) {
  main {
    margin-right: auto;
    margin-left: auto;
    width: 1000px;
  }
}