@import "navbar.css";
@import "footer.css";
@import "login.css";
@import "search.css";
@import "users.css";

:root {
  --dark-color: #141c1f;
  --primary-color: #6494a7;
  --secondary-color: #9bc9d1;
}

body {
  margin-right: auto;
  margin-left: auto;
}

.slipbop-button{
  border-radius: 4px;
  background: var(--primary-color);
  color: white;
  font-size: 14px;
}