.usersContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px auto;
    justify-items: center;
}

.userDiv {
    display: flex;
    grid-row: span 1;
    grid-column: span 1;
    height: 75px;
    /* width: 275px; */
    justify-content: space-between;
}

.userLogoDiv {
    border-radius: 4px;
    border: 1px solid #dddd;
    display: flex;
    justify-content: center;
    height: 70px;
    width: 70px;
    align-items: center;
}

.userLetter {
    font-size: 45px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-style: italic;
    font-family: 'Josefin Sans', sans-serif;
}

.username {
    font-style: italic;
    font-weight: bold;
}

.textPart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
}

.textPart>p {
    margin: 0 0 0 20px;
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media(max-width: 768px) {
    .usersContainer {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 540px) {
    .usersContainer {
        grid-template-columns: 1fr;
    }
}

